<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vetsertification">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_picture"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <activity android:name=".ui.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.mainpage.MainPageView"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ui.registration.RegistrationView"
            android:label="Registration">
        </activity>
        <activity
            android:name=".ui.userMainPage.UserMainPageView"
            android:label="UserMainPage">
        </activity>
        <activity
            android:name=".ui.application.ApplicationView"
            android:label="Application">
        </activity>
        <activity
            android:name=".ui.getinstruction.InstructionView"
            android:label="InstructionView">
        </activity>
        <activity
            android:name=".ui.recordvetoff.RecordVetOffView"
            android:label="RecordVetOff">
        </activity>
        <activity
            android:name=".ui.recordrosselchoz.RecordRosselchozView"
            android:label="RecordRosselchoz">
        </activity>
        <activity
            android:name=".ui.forgetpassword.ForgetPasswordView"
            android:label="ForgetPassword">
        </activity>
        <activity
            android:name=".ui.seeaccount.SeeAccountView"
            android:label="SeeAccount">
        </activity>
        <activity
            android:name=".ui.editaccount.EditAccountView"
            android:label="EditAccount">
        </activity>
        <activity
            android:name=".ui.account.AccountView"
            android:label="AccountView">
        </activity>
        <activity
            android:name=".ui.mypets.MyPetsView"
            android:label="MyPetsView">
        </activity>
        <activity
            android:name=".ui.addpet.AddPetView"
            android:label="AddPetView">
        </activity>
    </application>

</manifest>